* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* FONT SIZES FOR LARGE SCREENS */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.title-1 {
  font-size: 1.2rem;
}

.title-2 {
  font-size: 1rem;

  color: black;
}

.body-1 {
  font-size: 0.9rem;
  margin: 1rem 0;
}

.body-2 {
  font-size: 0.6rem;
}
/* GLOBAL STYLES */
ul {
  display: flex;
  list-style-type: none;
}
li {
  margin: 0 1rem;
  cursor: pointer;
}
a {
  text-decoration: none;
}
/* ORANGE BUTTON */
.orange-btn {
  background: #ff6433;
  border-radius: 12px;
  width: 150px;
  height: 44px;
  color: white;
  font-size: 1rem;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}
/* 10% PADDING (LEFT/RIGHT) FOR LARGE SCREENS */
.pad {
  padding: 0 10%;
}
/* STYLES FOR CONTAINERS (HEADERS OR SECTIONS) FOR LARGE SCREENS */
.cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* ANIMATION FOR MOBILE CLOSE AND OPEN BTNS */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* MOBILE NAV (NOT VISIBLE FOR BIG SCREENS) */
.mob-nav {
  height: 30px;
  width: 30px;
  display: none;
  margin: 0.5rem 1rem;
}
/* MOBILE NAVIGATION */
.mobile-nav {
  display: none;
  height: 100vh;
  transition: 2s linear all;
  background: #ff6433;
  color: #ffffff;
}
.show-menu {
  display: block;
}
.mobile-nav .nav-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.mobile-nav ul {
  display: block;
  padding-left: 1rem;
}
.mobile-nav li {
  padding: 2rem 0.5rem;
}
.mobile-nav #services,
#home,
.mob-nav {
  animation: bounce 2s infinite linear;
}
.close {
  width: 7%;
  margin: 1rem;
  animation: bounce 1s infinite linear;
}
.close img {
  width: 100%;
}
.mobile-nav a {
  color: #ffffff;
}
/* STYLES FOR NAVBAR (LARGE SCREENS) */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
nav #assistance {
  position: relative;
  top: -10px;
}
nav .assit {
  display: flex;
}
.assit img {
  padding-right: 0.5rem;
}
nav a {
  color: black;
}
/* HEAADER STYLES (LARGE SCREENS) */
header {
  padding-bottom: 10%;
  display: flex;
}
header .images {
  width: 100%;
  height: 50vh;
  display: flex;
  padding-top: 5%;
}
header .img {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-car {
  background: url(./images/services-header-img.png);
}
.black {
  width: 50%;
  height: 42.5%;
  position: absolute;
  background: #1e1b1b;
  left: 40%;
  color: white;
  padding: 4rem 4rem;
}
.black .orange-btn {
  margin-top: 0rem;
}

.black h3 {
  margin-top: 5rem;
}

.black .body-1 {
  padding-right: 3rem;
}

/* SERVICES SECTION ONE STYLES (LARGE SCREENS) */
.serv-one {
  background: #f5f5f5;
  padding-top: 10%;
  padding-bottom: 10%;
}
.serv-one .diagnostics,
.services {
  margin: 1rem;
}
.serv-one .diagnostics {
  padding: 2rem 1rem 0 1rem;
  background: #ffffff;
}
.diagnostics .img img {
  width: 100%;
}
.diagnostics .text {
  padding-top: 2rem;
}
.diagnostics .title-2 {
  padding: 1rem 0;
}
.diagnostics .service-details {
  display: flex;
  align-items: center;
}
.serv-one .services {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.services .icon {
  background: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.services .icon img {
  margin-bottom: 1rem;
}

/* SERVICES SECTION TWO STYLES (LARGE SCREENS) */
.serv-two {
  padding-top: 5%;
  padding-bottom: 5%;
}
.verified {
  display: flex;
  margin: 2rem 0;
  align-items: center;
}
.serv-two .process,
.cars-img {
  margin: 1rem;
}
.verified .title-2 {
  padding-left: 0.5rem;
}
.serv-two .cars-img img {
  width: 100%;
  height: 100%;
}
/* SERVICES SECTION THRREE STYLES (LARGE SCREENS) */
.serv-three {
  padding-top: 5%;
  padding-bottom: 5%;
}
.serv-three .process,
.cars-img {
  margin: 1rem;
}
.serv-three .process {
  padding: 2rem;
}
.process .body-1 {
  line-height: 20px;
}
.serv-three .cars-img img {
  width: 100%;
}
/* FOOTER STYLES (LARGE SCREENS) */
footer {
  width: 100%;
  height: 50vh;
}
footer .top {
  background: #1e1b1b;
  opacity: 0.98;
  padding-top: 1rem;
  height: 80%;
}
footer .top .content {
  width: 80%;
  height: 100%;
  margin: 3rem auto;
  color: #ffffff;
}

.content h3 {
  padding: 5% 10%;
}
.content .icons {
  padding-left: 10%;
}
.content img {
  margin: 0 0.7rem;
  cursor: pointer;
}
footer .right .info {
  margin: 1.3rem 1rem;
}
.info .body-1 {
  opacity: 0.6;
  margin-bottom: 0.5rem;
}
.info .title-2 {
  color: #ffffff;
}
footer .bottom {
  height: 20%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #1e1b1b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer li {
  color: #ffffff;
  font-size: 16px;
  transition: transform 0.3s linear;
}
footer li:hover {
  transform: scale(1.1);
}
footer a {
  color: white;
}

/* TABLET SCREEN SIZE */
@media screen and (max-width: 800px) {
  /* FONT SIZES FOR TABLET SCREENS */
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .title-1 {
    font-size: 1rem;
  }

  .title-2 {
    font-size: 1rem;
    color: black;
  }

  .body-1 {
    font-size: 1.2rem;
  }

  .body-2 {
    font-size: 0.6rem;
  }
  li {
    margin: 0rem;
    cursor: pointer;
  }
  /* MOBILE NAV (FOR TABLET SCREENS) */
  .mob-nav {
    display: block;
  }
  /* HEADER STYLES (BIG SCREENS) */
  header .img {
    display: none;
  }
  .black {
    width: 100%;
    height: inherit;
    left: 0;
    padding: 6rem 2rem;
    line-height: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./images/services-header-img.png);
  }
  .black .body-1 {
    width: 80%;
    line-height: 25px;
  }

  /* STYLES FOR NAVBAR (MOBILE SCREENS) */
  .nav-items {
    display: none;
  }
  footer {
    height: 60vh;
  }
  footer .top {
    height: 80%;
  }
  footer .bottom {
    height: 20%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.5rem;
  }
  footer ul {
    margin: 1rem 0;
  }
  .orange h3 {
    margin-top: 1rem;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES (MAX-425px) */
@media screen and (max-width: 450px) {
  /* FONT SIZES FOR MOBILE SCREENS */
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .title-1 {
    font-size: 1rem;
  }

  .title-2 {
    font-size: 1rem;
    color: black;
  }

  .body-1 {
    font-size: 0.8rem;
  }

  .body-2 {
    font-size: 0.6rem;
  }
  li {
    margin: 0rem;
    cursor: pointer;
  }

  /* 10% PADDING (LEFT/RIGHT) FOR LARGE SCREENS */
  .pad {
    padding: 0 10%;
  }
  /* STYLES FOR CONTAINERS (HEADERS OR SECTIONS) FOR LARGE SCREENS */
  .cont {
    grid-template-columns: repeat(1, 1fr);
  }
  .orange-btn {
    height: 35px;
    width: 130px;
  }

  /* STYLES FOR NAVBAR (MOBILE SCREENS) */
  nav .logo {
    padding: 0 0.5rem;
  }
  nav {
    margin: px 10px;
  }
  .nav-items {
    display: none;
  }
  .mob-nav {
    display: block;
  }

  /* HEAADER STYLES (MOBILE SCREENS) */

  header .img {
    display: none;
  }
  .black {
    width: 100%;
    height: inherit;
    left: 0;
    padding: 5rem 2rem;
    line-height: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./images/services-header-img.png);
  }

  /* SERVICES SECTION ONE STYLES (MOBILE SCREENS) */
  .serv-one .diagnostics,
  .services {
    margin: 1rem;
  }

  /* SERVICES SECTION TWO STYLES (MOBILE SCREENS) */
  .serv-two .cars-img img {
    margin-top: 0.5rem;
  }

  /* SERVICES SECTION TWO STYLES (MOBILE SCREENS) */
  .serv-three .process {
    padding: 1rem;
  }
  /* FOOTER SEVEN STYLES (MOBILE SCREENS) */
  footer {
    width: 100%;
    height: 80vh;
  }

  .content h3 {
    padding: 5% 0;
  }
  .content .icons {
    padding-left: 0;
  }
  footer .bottom {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
  }
  footer ul {
    width: 100%;
    margin: 2rem 0;
  }
  footer li {
    width: 100%;
    font-size: 11px;
    transition: transform 0.3s linear;
  }
}
